<div class="ml-1"><b style="font-size:2em; font-weight:300;">Fund Transfer</b></div>
<br>

	<div class="col-md-5 form-inline">
	<label style="font-size:1.3em; font-weight:300;">Use:</label>  &nbsp; 
	<select class="col-sm-8 custom-select form-control" ng-model="pay.mode">
	  <option value="phone" selected>Beneficiary's phone number</option>
	  <option value="userId">Beneficiary's ID</option>
	</select>  &nbsp;&nbsp;&nbsp; <b>Amount | <strong>{{str}}</b>
	
	</div>

	<div class="col-md-9 row">
	 <div class="col-md-5 form-group">
	    <label for="City"></label>
	   <input type="text" class="form-control" id="City" placeholder=" Enter Amount" ng-model="pay.amount">
	   <p style="color:red">{{errorMsg}}</p>
	  </div>

	   <div class="col-md-5 form-group" ng-if="isUserId === true">
	    <label for="City"></label>
	   <input type="text" ng-model="pay.userId" class="form-control" id="City" placeholder="Beneficiary's ID" >
	  </div>

	   <div class="col-md-5 form-group" ng-if="isPhone === true">
	    <label for="City"></label>
	   <input type="text" ng-model="pay.phone" class="form-control" id="City" placeholder="Beneficiary Phone Number">
	  </div>


	  <div class="col-md-1 form-group mt-4" ng-if="isTransfer===true">
	    <button class="btn btn-success" ng-click="confirm()">Send</button>
	  </div>
	</div>


<div style="width:80%;padding:10px;margin: 0 auto" ng-if="isOTP === true">
	<p style="text-align: right; text-decoration:underline;color:blue;cursor:pointer" ng-click="confirm(resend)">Resend OTP</p>
	<div style="margin-bottom: 10px">
		<input type="text" class="form-control" placeholder="Enter the six digits OTP" ng-model="pay.otp">
	</div>
	<p><small>Otp will auto submit when the six digits are completed</small></p>
	<p>If you have dificulty sending OTP please <a href="/contact">contact us</a></p>
</div>









