<div style="width:80%;padding:10px;margin: 0 auto">
	<p style="text-align: right; text-decoration:underline;color:blue;cursor:pointer"><button ng-click="sendAcceptanceVerification(resend)">Resend OTP</button></p>
	<div style="margin-bottom: 10px">
		<input type="text" placeholder="Enter the six digits OTP" ng-model="pay.acceptanceOtp">
	</div>
	<p><small>Otp will auto submit when the six digits are completed</small></p>
	<p>If you have dificulty sending OTP please <a href="#">contact us</a></p>
</div>
