
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Doctor Directory</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/transitions.css">
	<link rel="stylesheet" href="/assets/css/color.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="wrapper" class="tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header id="header" class="tg-haslayout tg-inner-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="tg-navigationarea tg-haslayout">
							<strong class="logo">
								<a href="/"><img src="/assets/images/logo.png" alt="image description"></a>
							</strong>
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="tg-navigation">
								<ul>
									<li>
										<a href="/">Home</a>										
									</li>
									<li>
										<a href="#">doctors</a>
										<ul>
											<li><a href="/topview/doctors">Doctors</a></li>                                                     
                                            <li><a href="/topview/hospitals">Hospitals</a></li>
                                            <li><a href="/topview/pharmacy">Pharmacy</a></li>
                                            <li><a href="/topview/laboratories">Laboratory Centers</a></li>
                                            <li><a href="/topview/radiology">Radiology Centers</a></li>
                                            <li><a href="/topview/fitness">fitness Centers</a></li>           
										</ul>
									</li>
									<li>
										<a href="#">Blog</a>
										<ul>
											<li><a href="blog-list.html">Blog List</a></li>
											<li><a href="blog-grid.html">Blog Grid</a></li>
											<li><a href="blog-detail.html">Blog Detail</a></li>
										</ul>
									</li>
									<li><a href="packages.html">packages</a></li>
									<li><a href="contactus.html">Contact</a></li>
									<li>
										<a href="#" data-toggle="modal" data-target=".tg-user-modal"><i class="fa fa-user-plus"></i></a>
										<span><a href="#" data-toggle="modal" data-target=".tg-user-modal">login/signup</a></span>
										</li>
									<li>
										<a href="#">
											<i class="fa fa-navicon"></i>
											<i>pages</i>
										</a>
										<ul>
											<li><a href="404.html">404</a></li>
											<li><a href="comming-soon.html">comming soon</a></li>
											<li><a href="dashboard.html">dashboard</a></li>
											<li><a href="dashboard-profile.html">dashboard profile</a></li>
											<li><a href="dashboard-schedule.html">dashboard schedule</a></li>
											<li><a href="dashboard-myaccount.html">dashboard account</a></li>
										</ul>
									</li>
								</ul>
							</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Home Slider Start
		*************************************-->
		<div id="tg-innerbanner" class="tg-innerbanner tg-bglight tg-haslayout">
			<div class="tg-searcharea tg-haslayout">
				<div class="container">
					<div class="row">
						<form class="tg-searchform">
							<div class="col-md-5 col-sm-5 col-xs-12">
								<div class="form-group">
									<input type="text" placeholder="Address" class="form-control">
								</div>
							</div>
							<div class="col-md-5 col-sm-5 col-xs-8">
								<div class="form-group">
									<span class="select">
										<select id="group1" class="group">
											<option>Catagory</option>
											<option>Doctor one</option>
											<option>Doctor two</option>
											<option>Doctor three</option>
										</select>
									</span>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="form-group">
									<a id="search_banner" class="tg-btn tg-btn-lg" href="#">Search</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="tg-pagebar tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h1>list</h1>
							<ol class="tg-breadcrumb">
								<li><a href="#">Home</a></li>
								<li class="active">List</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Home Slider End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="main" class="tg-main-section tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
						<div class="tg-doctors-list tg-haslayout">
							<div class="tg-refinesearcharea">
								<div class="tg-heading-border tg-small">
									<h2>refine search</h2>
								</div>
								<form class="form-refinesearch tg-haslayout">
									<fieldset>
										<div class="row">
											<div class="col-sm-6 col-xs-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Costum Text">
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Zip Code">
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="form-group">
													<span class="select">
														<select class="group">
															<option>Sub Catagory</option>
															<option>Doctor one</option>
															<option>Doctor two</option>
															<option>Doctor three</option>
														</select>
													</span>
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<div class="form-group">
													<span class="select">
														<select class="group">
															<option>Catagory</option>
															<option>Doctor one</option>
															<option>Doctor two</option>
															<option>Doctor three</option>
														</select>
													</span>
												</div>
											</div>
											<div class="col-sm-6 col-xs-12">
												<button type="submit" class="tg-btn">apply fillter</button>
											</div>
											<div class="col-sm-6 col-xs-12">
												<button type="reset" class="tg-btn-reset">
													<i class="fa fa-rotate-left"></i>
													<span>Reset fillter</span>
												</button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="tg-doclisthead">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="form-group">
												<span class="select">
													<select class="group" id="group1">
														<option>Sort By</option>
														<option>Most recent</option>
														<option>Most Popular</option>
														<option>Featured</option>
														<option>Alphabetical</option>
													</select>
												</span>
											</div>
										</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<ul class="tg-listing-views">
										<li><a href="#"><i class="fa fa-th-large"></i></a></li>
										<li class="active"><a href="#"><i class="fa fa-th-list"></i></a></li>
									</ul>
									</div>
								</div>
							</div>
							<div class="tg-view tg-list-view">
								<div class="row">
									<article class="tg-doctor-profile">
										<div class="tg-box">
											<a href="#"><span class="tg-show"><a href="#"><em class="icon-add"></em></span></a>
											<figure class="tg-docprofile-img">
												<span class="tg-featuredicon"><em class="fa fa-bolt"></em></span>
												<a href="#"><img src="/assets/images/doctors/img-01.jpg" alt="image description"></a></figure>
											<div class="tg-docprofile-content">
												<div class="tg-heading-border tg-small">
													<h3><a href="#">Dr. Jhon Doe, Md</a></h3>
												</div>
												<div class="tg-description">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam. Eascxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
												</div>
												<ul class="tg-doccontactinfo">
													<li>
														<i class="fa fa-map-marker"></i>
														<address>123 Eccles Old Road, Uk, M6 7AF</address>
													</li>
													<li>
														<i class="fa fa-phone"></i>
														<span>+44 235 856843</span>
													</li>
													<li>
														<i class="fa fa-envelope-o"></i>
														<a href="jhon@company.com">jhon@company.com</a>
													</li>
													<li>
														<i class="fa fa-fax"></i>
														<span>+44 235 856843</span>
													</li>
												</ul>
											</div>
										</div>
									</article>
									<article class="tg-doctor-profile">
										<div class="tg-box">
											<a href="#"><span class="tg-show"><a href="#"><em class="icon-add"></em></span></a>
											<figure class="tg-docprofile-img"><a href="#"><img src="/assets/images/doctors/img-02.jpg" alt="image description"></a></figure>
											<div class="tg-docprofile-content">
												<div class="tg-heading-border tg-small">
													<h3><a href="#">Dr. Jhon Doe, Md</a></h3>
												</div>
												<div class="tg-description">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam. Eascxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
												</div>
												<ul class="tg-doccontactinfo">
													<li>
														<i class="fa fa-map-marker"></i>
														<address>123 Eccles Old Road, Uk, M6 7AF</address>
													</li>
													<li>
														<i class="fa fa-phone"></i>
														<span>+44 235 856843</span>
													</li>
													<li>
														<i class="fa fa-envelope-o"></i>
														<a href="jhon@company.com">jhon@company.com</a>
													</li>
													<li>
														<i class="fa fa-fax"></i>
														<span>+44 235 856843</span>
													</li>
												</ul>
											</div>
										</div>
									</article>
									<article class="tg-doctor-profile">
										<div class="tg-box">
											<a href="#"><span class="tg-show"><a href="#"><em class="icon-add"></em></span></a>
											<figure class="tg-docprofile-img">
												<span class="tg-featuredicon"><em class="fa fa-bolt"></em></span>
												<a href="#"><img src="/assets/images/doctors/img-03.jpg" alt="image description"></a></figure>
											<div class="tg-docprofile-content">
												<div class="tg-heading-border tg-small">
													<h3><a href="#">Dr. Jhon Doe, Md</a></h3>
												</div>
												<div class="tg-description">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam. Eascxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
												</div>
												<ul class="tg-doccontactinfo">
													<li>
														<i class="fa fa-map-marker"></i>
														<address>123 Eccles Old Road, Uk, M6 7AF</address>
													</li>
													<li>
														<i class="fa fa-phone"></i>
														<span>+44 235 856843</span>
													</li>
													<li>
														<i class="fa fa-envelope-o"></i>
														<a href="jhon@company.com">jhon@company.com</a>
													</li>
													<li>
														<i class="fa fa-fax"></i>
														<span>+44 235 856843</span>
													</li>
												</ul>
											</div>
										</div>
									</article>
									<article class="tg-doctor-profile">
										<div class="tg-box">
											<a href="#"><span class="tg-show"><a href="#"><em class="icon-add"></em></span></a>
											<figure class="tg-docprofile-img"><a href="#"><img src="/assets/images/doctors/img-04.jpg" alt="image description"></a></figure>
											<div class="tg-docprofile-content">
												<div class="tg-heading-border tg-small">
													<h3><a href="#">Dr. Jhon Doe, Md</a></h3>
												</div>
												<div class="tg-description">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam. Eascxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
												</div>
												<ul class="tg-doccontactinfo">
													<li>
														<i class="fa fa-map-marker"></i>
														<address>123 Eccles Old Road, Uk, M6 7AF</address>
													</li>
													<li>
														<i class="fa fa-phone"></i>
														<span>+44 235 856843</span>
													</li>
													<li>
														<i class="fa fa-envelope-o"></i>
														<a href="jhon@company.com">jhon@company.com</a>
													</li>
													<li>
														<i class="fa fa-fax"></i>
														<span>+44 235 856843</span>
													</li>
												</ul>
											</div>
										</div>
									</article>
								</div>
							</div>
							<div class="tg-btnarea">
								<a class="tg-btn" href="#">load more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<aside id="tg-sidebar">
							<div class="tg-widget tg-widget-map">
								<h3>on map</h3>
								<div id="map_canvas" class="tg-location-map tg-haslayout"></div>
								<a class="tg-btn" href="#">get direction</a>
							</div>
							<div class="tg-widget tg-tab-widget">
								<h3>similar doctors</h3>
								<div class="tg-tabwidet-content">
									<ul class="tg-nav-tabs nav-tabs" role="tablist">
										<li role="presentation" class="active">
											<a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a>
										</li>
										<li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a>
										</li>
									</ul>
									<div class="tab-content">
										<div role="tg-tabpanel tabpanel" class="tg-tab-pane tab-pane active" id="recent">
											<ul>
												<li>
													<figure>
														<a href="#">
															<img src="/assets/images/blog/img-11.jpg" alt="image description">
														</a>
													</figure>
													<div class="tg-description">
														<h3>Dr. Rhino Doe</h3>
														<em>Senior Therapist</em>
														<span class="tg-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</span>
													</div>
												</li>
												<li>
													<figure>
														<a href="#">
															<img src="/assets/images/blog/img-12.jpg" alt="image description">
														</a>
													</figure>
													<div class="tg-description">
														<h3>Dr. Alen Doe</h3>
														<em>Senior Therapist</em>
														<span class="tg-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</span>
													</div>
												</li>
												<li>
													<figure>
														<a href="#">
															<img src="/assets/images/blog/img-13.jpg" alt="image description">
														</a>
													</figure>
													<div class="tg-description">
														<h3>Dr. Jenny Doe</h3>
														<em>Senior Therapist</em>
														<span class="tg-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</span>
													</div>
												</li>
											</ul>
										</div>
										<div role="tg-tabpanel tabpanel" class="tg-tab-pane tab-pane" id="popular">
											<ul>
												<li>
													<figure>
														<a href="#">
															<img src="/assets/images/blog/img-12.jpg" alt="image description">
														</a>
													</figure>
													<div class="tg-description">
														<h3>Dr. Alen Doe</h3>
														<em>Senior Therapist</em>
														<span class="tg-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</span>
													</div>
												</li>
												<li>
													<figure>
														<a href="#">
															<img src="/assets/images/blog/img-13.jpg" alt="image description">
														</a>
													</figure>
													<div class="tg-description">
														<h3>Dr. Jenny Doe</h3>
														<em>Senior Therapist</em>
														<span class="tg-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</span>
													</div>
												</li>
												<li>
													<figure>
														<a href="#">
															<img src="/assets/images/blog/img-11.jpg" alt="image description">
														</a>
													</figure>
													<div class="tg-description">
														<h3>Dr. Rhino Doe</h3>
														<em>Senior Therapist</em>
														<span class="tg-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="footer" class="tg-haslayout">
			<div class="tg-threecolumn">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="tg-footercol">
								<strong class="logo">
									<a href="#">
										<img src="/assets/images/logo2.png" alt="image description">
									</a>
								</strong>
								<div class="tg-description">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laboret dolore magna aliqua.</p>
								</div>
								<ul class="tg-info">
									<li>
										<i class="fa fa-home"></i>
										<address>123 Eccles Old Road, New Salford Road, East London, Uk, M6 7AF</address>
									</li>
									<li>
										<i class="fa fa-envelope"></i>
										<em><a href="#">info@domain.com</a></em>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<em><a href="#">+44 123 456 788 - 9</a></em>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="tg-footercol">
								<div class="tg-heading-border tg-small">
									<h4>featured doctors</h4>
								</div>
								<div class="tg-widget tg-featured-doctore">
									<ul>
										<li>
											<figure class="tg-imgdoc">
												<img src="/assets/images/img-02.jpg" alt="image description">
												<div class="tg-img-hover">
													<a href="#"><i class="icon-zoom"></i></a>
												</div>
											</figure>
											<div class="tg-docinfo">
												<span class="tg-docname"><a href="#">Dr. Jennifer Bada-Ellzey, MD, MPH</a></span>
												<span class="tg-stars">
													<em>Ranking:</em>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
												<div class="tg-designation">
													<p><a href="#">Family &amp; Community Medicine</a></p>
												</div>
											</div>
										</li>
										<li>
											<figure class="tg-imgdoc">
												<img src="images/img-03.jpg" alt="image description">
												<div class="tg-img-hover">
													<a href="#"><i class="icon-zoom"></i></a>
												</div>
											</figure>
											<div class="tg-docinfo">
												<span class="tg-docname"><a href="#">Dr. Curtis O. Ballard, MD</a></span>
												<span class="tg-stars">
													<em>Ranking:</em>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</span>
												<div class="tg-designation">
													<p><a href="#">Orthopaedic Surgery &amp; Sports Medicine</a></p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="tg-footercol">
								<div class="tg-heading-border tg-small">
									<h4>Useful links</h4>
								</div>
								<div class="tg-widget tg-usefullinks">
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Latest Blog</a></li>
										<li><a href="#">Terms and Conditions</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Contact Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar tg-haslayout">
				<div class="tg-copyrights">
					<p>2015 All Rights Reserved © DocDirect</p>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
		Sign In Sign Up Light Box Start
	*************************************-->
		<div class="modal fade tg-user-modal" tabindex="-1" role="dialog">
		<div class="tg-modal-content">
			<ul class="tg-modaltabs-nav" role="tablist">
				<li role="presentation" class="active"><a href="#tg-signin-formarea" aria-controls="tg-signin-formarea" role="tab" data-toggle="tab">sign in</a></li>
				<li role="presentation"><a href="#tg-signup-formarea" aria-controls="tg-signup-formarea" role="tab" data-toggle="tab">sign up</a></li>
			</ul>
			<div class="tab-content tg-haslayout">
				<div role="tabpanel" class="tab-pane tg-haslayout active" id="tg-signin-formarea">
					<form class="tg-form-modal tg-form-signin">
						<fieldset>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email Address">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group tg-checkbox">
								<label>
									<input type="checkbox" class="form-control">
									Remember Me
								</label>
								<a class="tg-forgot-password" href="#">
									<i>Forgot Password</i>
									<i class="fa fa-question-circle"></i>
								</a>
							</div>
							<button class="tg-btn tg-btn-lg">LOGIN now</button>
						</fieldset>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane tg-haslayout" id="tg-signup-formarea">
					<form class="tg-form-modal tg-form-signup">
						<fieldset>
							<div class="form-group">
								<span class="select">
									<select>
										<option>Doctor one</option>
										<option>Doctor two</option>
										<option>Doctor three</option>
									</select>
								</span>
							</div>
							<div class="form-group">
								<span class="select">
									<select>
										<option>Specialty*</option>
										<option>Specialty two</option>
										<option>Specialty three</option>
									</select>
								</span>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="last Name">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone Number">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="ZIP Code">
							</div>
							<div class="form-group tg-checkbox">
								<label>
									<input type="checkbox" class="form-control">
									I agree with the terms and conditions
								</label>
							</div>
							<button class="tg-btn tg-btn-lg">Create an Account</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
		Sign In Sign Up Light Box End
	*************************************-->
	<script src="/assets/js/vendor/jquery-library.js"></script>
	<script src="/assets/js/vendor/bootstrap.min.js"></script>
	<script src="/assets/js/jquery-ui.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="/assets/js/map/jquery.gomap.js"></script>
	<script src="/assets/js/map/markerclusterer.min.js"></script>
	<script src="/assets/js/countdown.js"></script>
	<script src="/assets/js/jquery.nicescroll.js"></script>
	<script src="/assets/js/parallax.js"></script>
	<script src="/assets/js/owl.carousel.js"></script>
	<script src="/assets/js/prettyPhoto.js"></script>
	<script src="/assets/js/appear.js"></script>
	<script src="/assets/js/countTo.js"></script>
	<script src="/assets/js/map/map.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>