<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/now-ui-kit.css" rel="stylesheet" />
    <style>
        .card-title {
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
        }

       .list-group-item, .list-group-item:first-child, .list-group-item:last-child {
            background: transparent;
            border:0;
        }

        .input-group-addon{
            border-radius:0;
            padding:0;
        }
    </style>
</head>

<body style="overflow-x:hidden;">
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md  bg-primary fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Applinic
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <p>Home</p>
                           </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>How it works</p>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>Top Ranking</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>blog</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>packages</p>
                        </a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p>Contact</p>
                        </a>
                    </li>             </ul>
                        <a class=" btn btn-neutral">
                           Login
                        </a>
                
                        <a class=" btn btn-primary">
                           Sign up
                        </a>
                     </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="clearfix"></div>

<div class="wrapper" style="height:90px;"></div>
<div class="col-md-12 col-xs-12 col-sm-12 ">




    
<div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 no-display">
         <div class="list-group" style="background:transparent; border:0; position:fixed; width:70%;">
 <a href="#" class="list-group-item list-group-item-action" style="font-size:1.7em; font-weight:300;">TABLE OF CONTENTS</a>
  <a href="#introduction" class="list-group-item list-group-item-action">Introduction</a>
  <a href="#introduction" class="list-group-item list-group-item-action">Getting started</a>
  <a href="#patients" class="list-group-item list-group-item-action">Patients</a>
  <a href="#doctors" class="list-group-item list-group-item-action">Doctors</a>
  <a href="#session" class="list-group-item list-group-item-action">session</a>
  <a href="#pharma" class="list-group-item list-group-item-action">Pharmaceutical centers</a>
  <a href="#diagnostic" class="list-group-item list-group-item-action">Diagnostic centers</a>
  <a href="#wallet" class="list-group-item list-group-item-action">Payments and wallet</a>
</div>
    </div>
      <div class="col-md-8 col-sm-12 col-xs-12 card">
      
          <div class="container" style="padding-top:3em;">
<h4 id="introduction" class="display-5">INTRODUCTION</h4><div class="separator01 separator-primary"></div><br>
Imagine when you are very sick and you’d sent to your doctor a prescription request. <br>How would you feel having to refresh pages to see whether your doctor has responded? Boring right?  Wouldn’t be nice the response comes and notify you in real time without stress. 
Applinic is an online platform where patients meet their doctors, interact with each other. The system is equipped with the services of diagnostic centers and pharmaceutical center. <br>Applinic ensures paperless medical records kept in our high end database. Built on top real time technology, its activities are based on real time communication which is an effective approach to medical needs.<br> Emergency health care needs are taken care of with our high engine backend you make use of your medical information as it happened in time.
<br><br><b>Getting started:</b>
If you have not registered held on to <a href=”/signup”>SIGN UP</a> to create account. <br>Phone number is used for verification purposes. Please make sure you have a working phone number. If you are registering as a doctor it will take more additional step to verify your qualification with the appropriate body. <br>Your account creation will be pending  determined by the outcome of the verification exercise. <br>You will be notified on the outcome of your qualification verification.

<br><br>

<h4 id="patients">PATIENTS</h4><div class="separator01 separator-primary"></div>
Patients can sign up a dashboard will be created for the patient to manage his/her account. Dashboard has the utilities to access all medical needs. For example, patient can right from the dashboard find a doctor within any city, or table complain if need a doctor.  Patient can get a doctor I two ways;
<br>-Go to   the menu icon on the top left and select find a doctor, enter preferred city you want to search for doctors in.  From the search result you can book (send consultation request) a doctor. Once that is done, the preferred doctor will be notified in real time or not currently online an SMS will be sent to the doctor for consultation request.
<br>-Use “need a doctor?” utility to table your complaint. Once sent doctors will see it and respond immediately if the complaint is within their field of specialization. This approach is preferred if you do not have a doctor  to contact or you don’t know the right specialist for your case

<br>Patient can view the prescription history, laboratory history, radiology history.
<br>Patients can forward their tests to a center.
<br>Patients can forward their tests result to their doctor (prescription request).
<br>Patients can forward their prescription to a pharmaceutical center.
<br>
<br>Patient can find a labor radio test services in a city. Note the search criteria may be the test to run name or the reference number of a received lab test and the preferred city you wish to find test in.
<br>Patient can choose to use our courier service. This utility allows you to request for our mobile group within your city to send a list of purchased drug(s) to your home. <a href=”#courier”>learn more about our courier services</a>
<br>In case patient gets stuck and needs help from our team maybe to find a center or right specialist or general on how to use certain utilities in our app click “need help? “ and complete the form. Our team will contact you for assistance.
Communicate with your doctor through live chat or send video call, audio call or in-person meeting request.
<br><br>
Once the above request is granted by your doctor, Patient will be notified in real time. Note Doctor can as well initiate a request for in-person appointment with patient. In this case patient will be notified in real time.
<br>When doctor sends a video call or audio request,<a id="doctors"></a> Patient will be prompted to accept or decline. If accepted the system will automatically redirect patient to the communication page.

<br>Should in case you changed your phone please update your existing number to your current phone number in the dashboard. Phone numbers are used for primary authentication and verification in this app.


<br><br>

<h4>
DOCTOR</h4>
<div class="separator01 separator-primary"></div>
Doctors can sign up and have their dashboard created. Doctor s qualifications will be verified in line with Nigeria Medical Association (NMA). Doctor will be notified on the outcome of the verification. If verification is successful, doctor will have a working dashboard where he/she can manage their account.<br><br>
<b style="font-size:2em; font-weight:300;">Doctor can get a patient in two ways:</b>
<br>
Head on to “patient waiting room” where patients’ histories (complaints) are listed .Doctor can go through this complains and respond to any that falls within their field of specialization. PLEASE respond to a case you can handle effectively.
<br>Patient can send a consultation request which you can accept or decline. If accepted, patient will be notified in real time. The acceptance will include the doctor’s consultation fee which will be presented to the patient for the complaint he/she submitted. If patient accepts, Doctor will be notified in real time and the patient will be added to the doctor’s list of patients. <br><b>Consultation fee</b> per patient lasts for a period of three months (3 months).Thereafter, patient will have to renew consultation fee or will not have access to communicate with doctor .Note, the other option is to redirect patient consultation request to another doctor should in case such request does not fall within your specialty.
<br><br>
Doctor can write prescription for patient with two options presented for sending such prescription
<br><b>Send to a preferred pharmacy:</b> In this scenario, the doctor will search and find a pharmacy to send the prescription to. Once sent, the center will receive the prescription in real time. A REFERENCE NUMBER will be issued which identifies the prescription. The patient should have this number for it will be use to find the prescription should the patient visit the pharmaceutical center where the prescription was sent to.

<br><b>Send to patient:</b> in this case doctor may not have interest in which pharmacy to send prescription or patient demands the prescription sent to his dashboard. Doctor can send prescription to the patient of which patient can find and send the prescription to the patient’s pharmaceutical center of choice.

<br>
Doctor can refer patient for a laboratory or radiological tests. This will notify the center in real time about such referral. Reference number will be issued for it to be used to identify the test should the patient visit the center.
<br>
Doctor can receive a prescription request from his/her patient. <a id="session"></a>Sometimes, doctor’s patient may have a test result from a center and wish to forward such test to his/her doctor. In this scenario, doctor will receive a prescription request which will include the test result from the patient. Doctor can write prescription for the patient and forward such prescription using the options described above.


<br><br>

<h4>
SESSION</h4><div class="separator01 separator-primary"></div>
Session (treatment session) is a strategy adopted to handle doctor-patient interaction. When patient visit you the doctor you can’t really do anything without the patient’s medical folder, right? In Applinic, this is called treatment session. Session is like an empty file brought before you the doctor whenever you are in contact or communication with your patient to keep the notes, investigations and treatments made out of the conversation. Sessions can be created by you or initiated when system identifies one.<br><br> For example, when you had a video or audio call conversation with your patients, all the complains and histories the patient made will be written down by you as the conversations ends system will save these written notes you made from the interaction and this will be regarded as a session. Sessions are usually identified by the date the conversation was held, brief history the patient made. Doctor can also create a session should in case the patient is in physical contact with him. Every session is saved for that patient and doctor can reopen a session at any time. 
Note in a session doctor can send patient for investigation and importantly those investigations and results that comes with it will be saved in that particular session.
<br><br><b style="font-size:2em; font-weight:300;">Ways sessions are created:</b>
<br><b>Doctor initiated session:</b> This means that when doctor is in physical contact with his patient he can click create session .In that session; everything he needs to treat that patient is available. He can note the patient’s response to his question, book appointment with patient for physical examination, refer patient laboratory or radiology test, prescribe for the patient whom he can forward to or pharmacy of choice etc. All within that treatment session which will be save as the doctor wish exit the session page.

<br><b>System initiated treatment session:</b> This happens when doctor is not in physical contact (through video or audio call) with his patient. This session can be saved if the doctor needs to. As explained above the session information is saved.

<br><br>Please note sessions are never created when chatting with patient. I this platform, chats are just primary line of communication and sessions are only created for doctor – patient interactions but not with other interactions like center-patient interactions.
Doctor can add new patient if the patient is not registered already. This approached if for emergency and only used for attending to patient who is not in Applinic .Once this method is used a temporary profile is created for that patient will last only for one month. Within this period, you can send prescription only to this patient until patient updates its profile to have full access.
<br><br><b>BENEFITS:</b>
Doctor has 5% commission from the total cost. All prescriptions written by<a id="pharma"></a> a doctor follows that doctor till the point of purchase of such drug likewise lab and radio test referred by the doctor. This mean that doctor will be credited anytime a prescription written by him or lab or radio test he referred is attended to regardless the pharmaceutical and diagnostic center that attended to the referral. As long as the patient buys through our platform doctor’s commission will never seize to come.


<br>

<h4>
PHARMACEUTICAL CENTER</h4><div class="separator01 separator-primary"></div>
Registered pharmaceutical center plays the role of receiving request either from patients, doctors, or other center for purchase of drugs.<br>
Center can find patient’s prescription using the reference number given to patient.<br>
Center can forward prescription to another center if they don’t sell all or any of the prescriptions.<br>
Center can add new patient (if not registered yet) that wants to purchase drug and also wish to have his/her drug history saved with us.<br>
Center can search to find a registered patient using his PHONE<a id="diagnostic"></a> NUMBER and add to attendance for whom to administer drug to. <br>


<br>

<h4>
DIAGNOSTIC CENTER	</h4><div class="separator01 separator-primary"></div>
Registered laboratory center plays the role of receiving request either from patients, doctors, or other center for purchase of drugs.<br>
Center can find patient’s lab test using the reference number given to patient.<br>
Center can forward lab test to another center if they don’t sell all or any of the laboratory test.<br>
Center can add new patient (if not registered yet) that <a id="wallet"></a>wants to run a test(s) and also wish to have his/her drug history saved with us.<br>
Center can search to find a registered patient using his PHONE NUMBER and add to attendance for whom to run test for. <br>
    
    
<br>

<h4>
PAYMENT AND WALLET</h4><div class="separator01 separator-primary"></div>
<b>Fund wallet:</b>
Applinic is secure site information on our site are encrypted. Users can pay using their debit card or pay manually through banks.<br>
When paid manually, a voucher pin will be given which user will use to credit his e-wallet
When patients’ fund their wallet, the money is kept with us this will be used run all transactions and pay for services. Note paying for services you get a discount from the total cost of such service as opposed to paying cash which may not amount to the benefit. For all payment made, two factor authentication will be made to verify if the patient is aware of such transaction. This means that an OTP will usually be sent to payment to confirm payment before patient’s wallet will be debited.
<br><b>Fund transfer:</b>
Applinic comes with this utility to transfer fund to another user as long as amount to transfer is available in your e-wallet. This is useful in emergency situations or where registered user needs fund in the e-wallet to access medical services.
<br><b>Cash Out:</b>
This service is available for doctors, diagnostic centers and pharmaceutical centers. User can request to withdraw from the e-wallet. Note cash out request may take up to 48 hours for verification before requester account is credited.
 <br><br>
</div>
      </div>
</div>
    </div>
<div class="clearfix"></div>


<div class="col-md-12 col-sm-12 col-xs-12 bg-default" style="padding:3em 1em; min-height:30em;">

<div class="row"  style="min-height:30em;">
<div class="col-md-4 col-sm-12" style="float:left;">
    
<img src="#" >



 <div class="list-group" style="background:transparent; border:0;">
  <a href="#" class="list-group-item list-group-item-action">
   We specialize in offering help to find your best medical solution.
  </a>
  <a href="#" class="list-group-item list-group-item-action">1 Nwodo street GRA Enugu, Enugu State</a>
  <a href="#" class="list-group-item list-group-item-action">info@domain.com</a>
  <a href="#" class="list-group-item list-group-item-action">+234 8064245256</a>
  <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
</div>



</div>
<div class="col-md-4 col-sm-12 " style="float:left;">
    <div class="title title-up">Featured Doctors</div>

 <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:120px;">
      <div class="row">
<div class="col-md-4  col-sm-3" style="height:100%; width:150px; top:1em;">
    <img src="assets/img/bg3.jpg" class="img-responsive card"></div>
     <div class="col-md-7 col-sm-7 col-xs-6" style="padding:1em; float:right;">
    <div class="clearfix"></div>
Dr. Jennifer Bada-Ellzey, MD, MPH <br>
Ranking:  <br>
Family & Community Medicine <br>
</div></div>
</div>

<div class="clearfix"></div>
<div class="dropdown-divider"></div>

 <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:120px;">
      <div class="row">
<div class="col-md-4  col-sm-3" style="height:100%; width:150px; top:1em;">
    <img src="/assets/images/bg3.jpg" class="img-responsive card"></div>
     <div class="col-md-7 col-sm-7 col-xs-6" style="padding:1em; float:right;">
    <div class="clearfix"></div>
Dr. Jennifer Bada-Ellzey, MD, MPH <br>
Ranking:  <br>
Family & Community Medicine <br>
</div></div>
</div>

</div>

<div class="clearfix"></div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="float:left;">
         <div class="title title-up">Useful links</div>

         <div class="list-group ">
  <a href="/about" class="list-group-item list-group-item-action">About</a>
  <!--<a href="/blog" class="list-group-item list-group-item-action">Lastest Blog</a>
  <a href="/terms-and-conditions" class="list-group-item list-group-item-action">Terms and Conditions</a>
  <a href="/privacy" class="list-group-item list-group-item-action">Privacy policy</a>-->
    <a href="/contact" class="list-group-item list-group-item-action">Contact Us</a>
</div>
    </div>

</div>
</div>


<div class="clearfix"></div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                APPPLINIC
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                       </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Applinic
                </div>
            </div>
        </footer>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/tether.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js" type="text/javascript"></script>

</html>