<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Applinic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="/assets/css/vendor.css">
         <link rel="stylesheet" href="/assets/css/app.css">
          <link rel="stylesheet" href="/assets/css/now-ui-kit.css">
          <style>
              .title{
                  font-weight: 300;
              }
          </style>
    </head>

    <body>

 <header id="header"   ng-controller="topHeaderController" style="background-color:#d7dde4">
              
        <nav class="header" style="height:70px; margin-top:-.5em; z-index:1000;">
             <div class="header-block header-block-nav">
                <ul  style="display:inline-block;width:100%">
                    
                    <li style="float:left;margin:20px 10px">
                        <a ng-href="{{back}}" class="nav-link" >
                          <b style="font-size:16px; font-weight:bold;"> &larr; Back to dashbaord</b>
                        </a>
                    </li>
                     
                                         

                    <li style="float:right;list-style-type:none;margin:20px 10px">
                        <a class="nav-link" href="" ng-click="logout()">
                           
                            <span class="name">
             <i class="fa fa-power-off icon"></i>
              Logout
            </span> </a></li> </ul>
            </div>
        </nav>
</header>

<div class="container" style="margin-top: 100px">
<div style="font-size:2em; font-weight:300;">
Treatment Sessions
</div>

<div style="font-size:2em; font-weight:300;">
<span class="pull-right">  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
  Book Appointment
</button>
</span>
</div>


<!-- Modal -->
<!--<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
        <i class="fa fa-user-o"></i> Complete The Treatment Sessions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
 <div class="row">
  
  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Complaint</label>
    <textarea class="form-control" placeholder="Complaint"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">History of the Complain</label>
    <textarea class="form-control" placeholder="History of the Complain"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Past Medical History</label>
    <textarea class="form-control" placeholder="Past Medical History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Social History</label>
    <textarea class="form-control" placeholder="Social History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Family History</label>
    <textarea class="form-control" placeholder="Social History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Drug History</label>
    <textarea class="form-control" placeholder="Social History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Summary</label>
    <textarea class="form-control" placeholder="Summary"></textarea>
  </div>

   <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Provisional Diagnosis</label>
    <textarea class="form-control" placeholder="Provisional Diagnosis"></textarea>
  </div>
 </div>
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
</div>-->

<div class="container">

<div class="col-md-12  col-sm-12 col-xs-12">
<div class="col-md-4">picture</div>
<div class="col-md-4"></div>

</div>

      <form>
 <div class="row">
  
  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Complaint</label>
    <textarea class="form-control" placeholder="Complaint"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">History of the Complain</label>
    <textarea class="form-control" placeholder="History of the Complain"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Past Medical History</label>
    <textarea class="form-control" placeholder="Past Medical History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Social History</label>
    <textarea class="form-control" placeholder="Social History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Family History</label>
    <textarea class="form-control" placeholder="Social History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Drug History</label>
    <textarea class="form-control" placeholder="Social History"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Summary</label>
    <textarea class="form-control" placeholder="Summary"></textarea>
  </div>

   <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Provisional Diagnosis</label>
    <textarea class="form-control" placeholder="Provisional Diagnosis"></textarea>
  </div>
 </div>

<!--physical examination-->
 <div class="mt-2" style="font-size:2em; font-weight:300;">Physical Examination</div>
  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">General Examination</label>
    <textarea class="form-control" placeholder="General Examination"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Systemic Examination</label>
    <textarea class="form-control" placeholder="Systemic Examination"></textarea>
  </div>

   <div class="col-md-12  col-sm-12 col-xs-12 form-group">
    <label for="firstname">Final Diagnosis</label>
    <textarea class="form-control" placeholder="Final Diagnosis"></textarea>
  </div>

  <div class="col-md-12  col-sm-12 col-xs-12">
<h4>INVESTIGATION</h4>
<a href="#">Laboratory</a>
<a href="#">Radiology</a>
<a href="#">ECG</a>
<a href="#">Other</a>
</div>


<table class="table table-bordered mt-2">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Test ran</th>
      <th>Report</th>
      <th>Conclusion</th>
      <th>Date Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td>30/3/30</td>
      <td>Test</td>
      <td>schilosis</td>
      <td>a report</td>
      <td>a report</td>
      <td>20/12/30</td>
    </tr>
  </tbody>
</table>

<p>Patient test results ran by</p>
<p>the test was ran by</p>
<button class="btn btn-info">Request for a new lab test</button>

<div class="container mt-2">
<div class="col-md-12  col-sm-12 col-xs-12">
    <div class="col-md-4 pull-left">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary">Run</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose lab result
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Listing of Chemical Pathology</a>
      <a class="dropdown-item" href="#"> Listing of Hematology/Blood Bank</a>
      <a class="dropdown-item" href="#">Listing of Histology/Cytology</a>
      <a class="dropdown-item" href="#">Listing of Hormone</a>
      <a class="dropdown-item" href="#">Listing of Microbiology/Parasitology</a>
      <a class="dropdown-item" href="#">Listing of Toxicology </a>
      <a class="dropdown-item" href="#">Listing of Molecular Biology</a>
    </div>
  </div>
</div>
    </div>

    <div class="col-md-4 pull-right">
        <button class="btn btn-info pull-right">Preview selected test</button>
    </div>
    <!-- checkboxes-->
<div class="col-md-12  col-sm-12 col-xs-12">
<div class="form-inline">
  <div class="form-group">
    <label for="filtertest">Filter list by test name</label>
    <input type="text" id="filtertest" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
  </div>
</div>
<div class="mt-1">
<label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Check this checkbox</span>
</label>
</div>
</div>
<!--checkboxes-->

<!--treatment-->
<div class="col-md-12  col-sm-12 col-xs-12">
<h5 style="font-size:2em; font-weight:300;"> TREATMENT</h5>
<button class="btn btn-primary">Pharmaceutical</button>
<button class="btn btn-primary">Surgery</button>
<button class="btn btn-primary">Physiotherapy</button>
<button class="btn btn-primary">Others</button>
</div>
<!--treatment end-->
           
</div>

</div>
</form>
</div>
       
     <script src="/assets/js/vendor2.js"></script>
        <script src="/assets/js/app.js"></script>
    </body>

</html>