.title{font-weight: 300;}
              .grayish{ border-radius:5px; display:block;margin: 5px 5px 5px 0;background: #fff;padding: 5px 5px 5px 10px;
                  font-weight: 500;color: #333 !important; box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);}
              .grayish i{ border-right: 2px solid #eee;padding-right: 5px;padding-left: 5px;}

            .userpe img{ border-radius: 5px;box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2); }
.ick{
  font-size:1.2em;
  margin:5px 5px;
  
}


a{
    text-decoration: none !important;
}
.bg-success, .bg-info{
    color: #eee;
}
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:390px;
  overflow:hidden;
}

.msg_container_base:hover{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:390px;
  overflow-x:hidden;
  overflow-y:scroll;
}
.top-bar {
  background: #fff;
  color: #555;
  border:1px solid #eee;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}

.msg_received {
  color:orange!important;
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}

.messages > time {
    font-size: 11px;
    color: #ccc;
}

time {
    font-size: 11px;
    color: #555;
    float: right;
}

.bg-info  time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding-right: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.panel-footer{
    background: #fff;
    min-height:80px;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
}

.panel-footer button{
    float: left;
    padding:10px 0 0 20px;
    height:75px;
    line-height:60px;
}
.panel-footer [contenteditable]{
    word-wrap: break-word;
    word-break: break-all;
    background: #fff;
    float: left;
    width: 89%;
    border:0;
    resize: none;
    height:75px;
    padding:10px 0 0 20px;
    outline: none;
    overflow-y: scroll;
}







/* CSS talk bubble */
.talk-bubble {
  margin: 20px;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: lightyellow;
  max-width: 80%;
  word-break: break-all;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}
/*
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #2CA8FF  transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #2CA8FF  transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.form-control{
  border:1px solid #f2f2f2; !important;
}
.modal-header{
  font-size:1.7em;
  font-weight: 300;
}

.calender-header {
  color: #fff;  
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
}

.calender-header i {
  width: 20%;
  cursor: pointer;
}

.calender-header i,.calender-header span {
  font-size: 30px;
  display: inline-block;
}

.calender-header > span {
  width: 55%;
}

.week,.indays {
  text-align: center;
}

span.day {  
  display: inline-block;
  padding: 5px;
  width: 12.5%;
  text-align: center;
  font-size: 18px;
  margin: 20px 0px 10px;
}

span.dates {
  display: inline-block;
  padding: 5px;
  width: 13%;
  text-align: center;
  font-size: 18px;
  margin: 8px 3px;
  border-bottom: 1px solid #eee;
 box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.different-month {
    color:#C0C0C0;
    font-weight: normal!important;
}

.today {
    background:#333;
    color:#fff;
}
            
.different-month {
    color:#C0C0C0;
}
            
.selected {
    background:#7dbb00;
    color:white;
}


.bg-default{
  background: #ccc !important;
}

.ok button{
  text-shadow:3px 3px 3px rgba(0, 0, 0, 0.5) !important;
}