/*** drug search **/
.side-services a {
	font-weight: 100;
    color: black;
    font-size: 22px;
    padding: 10px;
    text-decoration: underline;
}

/* my ng animate style */


.view-animate-container {
  position:relative;  
  background:white;  
  max-height:1000px;
  overflow-y: auto;
 

}

.view-animate {
  padding:10px;
  height: 600px;/*to view removed later*/
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.main {
  position: relative;
  background: #FFFFFF; }

/** my css **/
.get-user {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #2CA8FF;
  color: #FFFFFF;
  text-decoration: none;
}

.doc-edit {
  list-style: none;
  padding: 5px;
  border-right: 1px solid rgba(0,0,0,0.3);
  border-radius: 15px
}

.doc-edit li{
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: underline;
  padding: 10px;
  
}

.selected-edit {
  color: orange;
}

.bg-green-back {
  background-color: green!important; 
}

.number-change {
  color:#fff;
  text-align:center;
  background-color:#0275d8;
  padding:20px;
  font-size:22px;
  margin-bottom:30px
}

.rec div {
  padding-top: 20px!important;
}

.treatment-record {
  max-height: 200px;
  overflow-y: auto
}

.title{
  font-weight: 300;
}

.font-1_1{
  font-size:1.1em !important; 
  font-weight:300 !important;
}

.font-1_4{
  font-size:1.4em !important; 
  font-weight:300 !important;
}

.font-1_7{
  font-size:1.7em !important; 
  font-weight:300 !important;
}

@media screen and (min-height: 960px) {
  .view-animate-container {
    max-height: 800px
  }
}