<h4>Find a doctor</h4>
<div>
	<strong>Choose search creteria:</strong>
	<select ng-model="user.creteria" style="width: 50%;border:none;border-bottom: 1px solid #000">
        <option value="doctorname">Find by name</option>
		<option value="specialty">City & Doctor's Specialty</option>
		<option value="doctorId">Find by doctor's ID</option>
	</select>
</div>
<form>
<fieldset style="padding: 10px 10px;margin-bottom: 20px">
	 <input type="text" placeholder="e.g Dr Ede Obinna or Dr Ede" style="padding: 5px 10px;margin-top: 10px;width: 40%;border:none;border-bottom: 1px solid #000" ng-model="user.name" ng-if="isName === true">
	<input type="text" placeholder="Enter city name" name="states" id="states"  uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15" style="padding: 5px 10px;margin-top: 10px;width: 40%;border:none;border-bottom: 1px solid #000" ng-model="user.city" ng-if="isSpecialty === true">
	{{getCity(city)}} 
    <select id="group1"  style="padding: 5px 10px;margin-top: 10px;width: 40%;border:none;border-bottom: 1px solid #000" ng-model="user.specialty" ng-if="isSpecialty === true">
        <option value="">_select specialty</option>
		<option>Acupunture</option>
        <option>Addiction Medicine</option>
        <option>Adolescent Medicine</option>
        <option>Aerospace Medicine</option>
        <option>Allergy</option>
        <option>Allergy/Immunology</option>
        <option>Anesthesiology</option>
        <option>Audiologist</option>
        <option>Bariatrician</option>
        <option>Cardiac Electrophysiology</option>
        <option>Cardiology</option>
        <option>Chiropractic</option>
        <option>Clinical Laboratory Immunology</option>
        <option>Clinical Pathology</option>
        <option>Colon/Rectal Surgery</option>
        <option>Critical Care</option>
        <option>Cythopathology</option>
        <option>Dermatology</option>
        <option>Dermatopathology</option>
        <option>Diabetes</option>
        <option>Diagnostic</option>
        <option>Emergency Medical Tech</option>
        <option>Emergency Medicine</option>
        <option>Endocrinology</option>
        <option>Endovascular Surgical Neuroradiology</option>
        <option>Family Practice</option>
        <option>Gastroenterology</option>
        <option>General Practice</option>
        <option>General Surgery</option>
        <option>Genetics</option>
        <option>Geriatrics</option>
        <option>Gynecology</option>
        <option>Gynecology Oncology</option>
        <option>Hand Surgery</option>
        <option>Hand and Neck Surgery</option>
        <option>Hematology</option>
        <option>Hematology/Oncology</option>
        <option>Hepatology</option>
        <option>Holistic Medicine</option>
        <option>Hospitalist</option>
        <option>Immunology</option>
        <option>Infectious Disease</option>
        <option>Internal Medicine</option>
        <option>Interventional Cardiology</option>
        <option>Legal Medicine</option>
        <option>Medical Oncology</option>
        <option>Medical Toxicology</option>
        <option>Neonatology</option>
        <option>Nephrology</option>
        <option>Neurology</option>
        <option>Neuroradiology</option>
        <option>Nuclear Cardiology</option>
        <option>Nuclear Medicine</option>
        <option>Nutrition</option>
        <option>Obstetrics/Gynecology</option>
        <option>Occupational Medicine</option>
        <option>Oncology</option>
        <option>Opthalmology</option>
        <option>Optometry</option>
        <option>Orthopedic Foot & Ankle</option>
        <option>Orthopedic Reconstructive Surgery</option>
        <option>Orthopedic Spine Surgery</option>
        <option>Orthopedic Surgery</option>
        <option>Osteopathy</option>
        <option>Otorhinolaryngology</option>
        <option>Pain Management</option>
        <option>Pathology</option>
        <option>PPediatric Allergy</option>
        <option>Pediatric Cardiology</option>
        <option>Pediatric Critical Care</option>
        <option>Padiatric Emergency Medicine</option>
        <option>Other</option>	
	</select>
    <input type="text" placeholder="Enter Doctor's ID" style="padding: 5px 10px;margin-top: 10px;width: 40%;border:none;border-bottom: 1px solid #000" ng-model="user.doctorId" ng-if="isDoctorId === true">
	<button style="background-color: rgba(20,255,0,0.7); color: #fff; padding: 10px 15px; border-radius:5px" ng-click = "find()">Find</button>
</fieldset>
</form>    