<div class="col-md-3 form-inline"><b style="font-size:2em; font-weight:300;">Search By:</b>  &nbsp <strong> {{search.category}}</strong>; 
<select class="col-sm-6 custom-select form-control" value="search.category" ng-model="search.category">
  <option>Drug Name</option>
  <option>Prescription ID</option>
</select>

</div>

<div class="row">
  <div class="col-md-12 form-group">
    <label for="City"></label>
   <input type="text" class="form-control"  name="states" id="states" type="text" placeholder="Enter city name" ng-model="city" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15">
   {{getCity(city)}}
  </div>

 </div>

 <div class="row">
   <div class="col-md-5 form-group" ng-repeat="i in drugList" ng-if="notRef">
    <input type="text" class="form-control" id="age"  name="states" id="states" type="text" placeholder="Enter drug name" ng-model="drug.name" uib-typeahead="drug.name for drug in drugs | filter:$viewValue | limitTo:15" style="display:inline-block;width:90%">
     {{getDrug(drug.name)}} 
    <i class="fa fa-times" style="cursor: pointer;font-weight: 100; font-size: 16px;color:grey" ng-click="remove(i.sn)" ng-if="i.sn !== 'a'"></i>
  </div>
   <div ng-if="isRef" class="col-md-5 form-group">
   	<input placeholder="Enter Prescription ID" ng-model="user.refId" class="form-control" style="width:80%">
  </div>
  <div style="text-align:right;padding: 20px" ng-if="notRef">
	  <i class="fa fa-plus btn-simple" style="cursor: pointer" ng-click="add(drug.name)">&nbsp;Add drug</i> 
 </div>
<div class="col-md-1 form-group" ng-if="notRef">
  <button class="btn btn-info" ng-click="findDrug(drug.name)">Find</button>
  </div>

<div class="col-md-1"  ng-if="isRef">
  <button class="btn btn-info" ng-click="findWithRef(user.refId)">Find</button>
  </div>
 </div>
 <hr style="margin-bottom:300px">

