<div>
	<a ng-href="{{back}}" style="font-size: 22px; font-weight: 100; color: #000"><i class="fa fa-arrow-left"> &nbsp;Back</i></a>
</div>
<div style="text-align: center;line-height: 50px; font-size: 22px" ng-if="isContent">	
	<span>{{data.str}}</span>
	<div>
		<span>TO</span>
	</div>
	<div>
		<strong>{{data.name}}</strong>
	</div>
	<address>
		<span>{{data.address}}</span>
		<span>{{data.city}}</span>
		<span>{{data.country}}</span>
	</address>
	<div>
		<button style="font-size: 16px;color:#fff;line-height:25px" ng-class="{dismiss: user.someone}" ng-click="send('inperson')">Forward on my behalf</button>&nbsp;&nbsp;&nbsp;&nbsp;
		<button style="font-size: 16px;color:#fff;line-height:25px"  ng-click="someone()">Forward on behalf of someone else</button>
	</div>
	<div ng-if="isToSomeOne">
		<form>
			<small>Tips: The phone number must be the number the person used for registeration</small>
			<input type="text" Placeholder="Enter the person phone number" ng-model="data.phone" class="btn" style="cursor:normal">
			<input type="button" value="cancel" ng-click="cancel()" class="btn btn-primary">
			<input type="button" value="Send" ng-click="send('someone')" class="btn btn-primary">&nbsp;
			<input type="button" value="new person form" ng-click="emp()" class="btn btn-primary" ng-if="isEMP">
		</form>
	</div>
</div>
<div ng-if="isSent" style="text-align:center">
	<h5>Drug(s) sent successfully!!!</h5>
	<strong> Pharmacy name: </strong> <em>{{data.name}}</em>
	<strong> Ref No: </strong> <em>{{result}}</em>
	<small>Plesae take note of the center name and reference number above because it will be used to easy location and identification respectively</small>
</div>