
<div class="display-4">welcome,</div><br>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="title">Dear ,</div>
We thank you for taking this bold step to reaching out to thousands of patients 
who need your help.Do ensure you write an introductory note about yourself which 
could help to explain in depth your professionalism. Kindly follow this LINK to UPDATE your profile
    <br><br></div>


<!--<div class="tg-docinfo tg-haslayout">
	<div class="tg-box">
		<div class="tg-heading-border tg-small">
			<h3>welcome, {{name}}</h3>
		</div>
		<div class="tg-description">
			<p style="line-height: 22px">Dear  {{name}}, <br/>
			We thank you for taking this bold step to 
			reaching out to thousands of patients who need your help.Do ensure you write an 
			introductory note about yourself which could help to explain in depth your professionalism.
			Kindly follow this <a href="/doctor/update">LINK</a> to UPDATE your profile</p>
		</div>
		<div>
			<h4 style="text-align: center; border-bottom: 1px solid rgba(0,0,0,0.6)">You have {{total || 0}} notification(s)</h4>
		<p style="font-size: 22px; font-weight: 100; margin-top: 50px" ng-click="drop()"><a href >{{question.length || 0}} Message(s)</a></p>
			<ul ng-if="showMsg">
				<li style="list-style-type:none;padding: 5px; font-size: 14px;border-bottom: 1px dashed rgba(0,0,0,0.5)" ng-repeat = "patient in question">
					<div class="row">
						<div class="col-md-3 col-lg-3">					
						<img ng-src="{{patient.sender_profile_pic_url}}" style="width: 100px; height: 100px"/>
						</div>
						<div class="col-md-9 col-lg-9">						
						<span>{{patient.sender_firstname}} {{patient.sender_lastname}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{patient.date | date : "mediumDate"}}&nbsp; &nbsp; &nbsp; {{patient.date | date: "shortTime"}}</span>
						<p style="font-size: 14px; font-style: italic; line-height: 14px">{{patient.message}}</p>
						<div>
							<button>reply now</button>&nbsp;&nbsp;&nbsp;&nbsp; <button>connect with patient</button> &nbsp;&nbsp;&nbsp;&nbsp;<button></button>
						</div>
					</div>
					</div>
				</li>
				<li ng-click="fold()"><a href style="color:#000;font-size: 18px; font-weight: 100"> fold </a></li>
			</ul>

			<p style="font-size: 22px; font-weight: 100; margin-top: 50px" ng-click="drop1()"><a href >{{consultation.length || 0}} consultation request(s)</a></p> 
			<ul ng-if="showMsg1">
				<li style="list-style-type:none;padding: 5px; font-size: 14px;border-bottom: 1px dashed rgba(0,0,0,0.5)" ng-repeat = "patient in consultation">
					<div class="row">
						<div class="col-md-3 col-lg-3">					
						<img ng-src="{{patient.sender_profile_pic_url}}" style="width: 120px; height: 120px"/>
						</div>
						<div class="col-md-9 col-lg-9">						
						<span>{{patient.sender_firstname}} {{patient.sender_lastname}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{patient.date | date : "mediumDate"}}&nbsp; &nbsp; &nbsp; {{patient.date | date: "shortTime"}}</span>
						<p>{{patient.message}}</p>
						<div>
							<button ng-click="view(patient)">view request</button>&nbsp;&nbsp;&nbsp;&nbsp; <button ng-click="delete(patient)">delete request</button> 
						</div>
					</div>
					</div>
				</li>
				<li ng-click="fold1()"><a href style="color:#000;font-size: 18px; font-weight: 100"> fold </a></li>
			</ul>   
		</div>
		<div class="tg-bottominfo tg-haslayout" style="margin-top: 30px">
			<div class="tg-regardsleft">
				<em>Regards,</em>
				<strong>DocDirect Management.</strong>
			</div>
			<div class="tg-regardsright">
				<strong class="logo">
					<img src="/assets/images/dashboard/logo.jpg" alt="image description">
				</strong>
			</div>
		</div>
	</div>
</div>-->