<div class="col-sm-12 col-md-12 col-lg-12">
	<div class="row">		
		<div class="col-sm-6 col-md-4 col-lg-4 pull-right">
			<p style="cursor: pointer; text-decoration: underline; margin-top: 20px" ng-click="showOption()">Search option</p>	
		</div>
		<div class="col-sm-6 col-md-8 col-lg-8">
			<h3>All Referrals</h3>
		</div>
	</div>	
	<form ng-if="isNotOption">			
		<input type="text" placeholder="Enter referrence number" style="border:1px solid #000; width:50%" ng-model="patient.ref_id" />
		<input type="button" value="Find patient Prescription" ng-click="findPrescription()" style="padding: 20px; background-color:green;color:#fff;border-radius: 2px;box-shadow: 0px 2px 3px rgba(0,0,0,0.6)"/>
	</form>

	<form ng-if="isOption">
		<input type="text" placeholder="Enter patient phone number" style="border:1px solid #000; width:50%" ng-model="patient.phone" />
		<input type="button" value="Find patient Prescription" ng-click="findPrescription()" style="padding: 20px; background-color:green;color:#fff;border-radius: 2px;box-shadow: 0px 2px 3px rgba(0,0,0,0.6)"/>
	</form>

	<div ng-click="viewPatientPrescription(foundData.ref_id)" style="padding: 20px; cursor:pointer">
		<img ng-src="{{foundData.pharmacy.patient_profile_pic_url}}" style="width:100px; height: 100px">
		<span>{{foundData.pharmacy.patient_firstname}} {{foundData.pharmacy.patient_lastname}}</span>
		<span>{{foundData.ref_id}}</span>
	</div>
	<p style="text-align: center; font-size: 22px">{{error}}</p>
</div>