<div style="border:1p solid rgba(0,0,0,0.4); padding: 30px;" class="clearfix">

    <div class="row">
        <div class="col-sm-12 col-lg-3 col-md-3 pull-right">
            <div class="tg-widget tg-widget-doctor">
                <figure class="tg-docprofile-img">
                    <figcaption>
                    <span ng-if="dispalyPresence === true">online</span>
                    <span ng-if="dispalyPresence === false">Offline</span>                                                    
                    </figcaption>
                    <span class="tg-featuredicon"><em class="fa fa-bolt"></em></span>
                    <img alt="image description" ng-src="{{docInfo.profile_pic_url}}">                                  
                </figure>
            </div>
            <div>
                <header style="text-align:center;font-size:18px">
                    <div>
                        <strong>Dr. {{docInfo.firstname}} {{docInfo.lastname}}</strong>
                    </div>
                    <div style="padding:5px">
                        <em >{{docInfo.specialty}}</em>
                    </div>
                    <ul style="list-style:none;font-size:14px;text-align:left;margin-top:10px">
                        <li><strong>Place of work: </strong> <em style="display:inline-block;max-width: 300px;padding:3px">{{docInfo.work_place}}</em></li>
                        <li><strong>Address: </strong> <em style="display:inline-block;max-width: 300px;padding:3px">{{docInfo.address}}</em></li>
                        <li ng-if="docInfo.city"><strong>Residence: </strong> <em style="display:inline-block;max-width: 300px;padding:3px">{{docInfo.city}} {{docInfo.country}}</em></li>
                        <li><strong>Experience: </strong> <em style="display:inline-block;max-width: 300px;padding:3px">{{docInfo.experience + " years"}}</em></li>
                        <!--<li><strong>Office hours: </strong> <em ng-repeat = "i in docInfo.office_hour" style="display:inline-block;float:right;max-width: 300px;padding:3px"><span>{{i.day}}</span>, <span>from {{i.from}}</span> <span>to {{i.to}}</span></em></li>-->
                    </ul>
                    
                    <a ng-href= "{{docInfo.profile_url}}" style="color:rgba(0,0,0,0.6);text-decoration:underline;cursor:pointer">view doctor's profile</a>
                    
                </header>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9 col-md-9">
            <header style="padding:2px;border-bottom: 1px solid rgba(0,0,0,0.2);font-size:18px">
                <div style="width: 40%;display:inline-block;font-size:14px">
                    <strong> Dr. {{docInfo.firstname}} {{docInfo.lastname}} <em ng-if="typing">is {{typing}}</em></strong>
                </div>
                <div style="width: 58%;display:inline-block;text-align:right;font-size:22px">
                    <i ng-click="inPersonRequest('Meet In-Person',docInfo)" class="fa fa-user" style="padding:1px 10px 0;margin-right:20px" title="Meet in-person request"> </i>          
                    <i ng-click="audioRequest('Audio Call',docInfo)" style="padding:1px 10px 0;margin-right:20px"class="fa fa-phone" title="Audio call request"> </i>
                    <i ng-click="videoRequest('Video Call',docInfo)" style="padding:1px 10px 0;margin-right:20px" class="fa fa-video-camera" title="Video call request"></i>
                    <i class="fa fa-trash-o" aria-hidden="true" style="padding:1px 0 0 10px;"  ng-click="deleteChat()" title="Delete chat"></i>         
                </div>
                <div class="chat-area" style="padding:none">
                <div class="some-class">
                    <div class="chat-body" >
                        <ul style='list-style:none;margin-top: 40px'>
                            <li ng-repeat="u in message1">
                                <div ng-if="u.sent" ng-class="{'isYou' : u.sent}">
                                    <!--<p style="text-align:center"> &nbsp;{{u.time | date: "shortTime"}} &nbsp;{{u.time | date: "mediumDate"}}</p>-->  
                                    <article style="text-align:right;background-color:#d2ed88" class="chat">
                                        <span>{{u.sent}}</span>
                                        <small style="font-size:9px;font-style:italic"> &nbsp;{{u.time | date: "shortTime"}}</small>
                                        <i class="fa fa-check" style="font-size:10px" ng-class="{'msg-received': u.isReceived === true}"></i>
                                        <i class="fa fa-check" style="font-size:10px;margin-left:-10px;margin-top:8px" ng-class="{'msg-received': u.isReceived === true}" ng-if="u.isSent === true"></i>    
                                    </article>
                                </div>
                                <div ng-if="u.received" class="chatPallet">                                                         
                                    <article class="chat" style="background-color:#eee">
                                        <span>{{u.received}}</span>
                                        <small style="font-size:9px;font-style:italic"> &nbsp;{{u.time | date: "shortTime"}}</small>    
                                    </article>                                               
                                </div>                                  
                            </li>
                            <li><article style="margin-left: 18px;margin-top:5px;color:rgba(0,0,0,0.4);font-style:italic;box-shadow: 0px 1px 2px rgba(0,0,0,0.5);background-color:#eee" ng-if="typing" class="chat">{{typing}}</article></li>
                                                      
                        </ul>                     
                    </div>
                    <div class="input-box-wrapper">
                        <form class="chat-form" ng-submit="sendChat1()">
                            <article style="color:#000;margin-left: 18px;margin-top:10px;color:#eee;font-style:italic" ng-if="typing" class="chat"></article>                          
                            <input type="text" placeholder="Type a message" ng-model="user.text1">
                            <input type="submit" value="Send"  class="btn btn-primary">

                        </form>

                    </div>

                </div>
            </div>
            </header>

        </div>
    </div>







    <!--<div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 pull-right" style="padding-right: 0px;">
            <div class="tg-widget tg-widget-doctor">
                <figure class="tg-docprofile-img">
                    <figcaption>
                    <span ng-if="dispalyPresence === true">online</span>
                    <span ng-if="dispalyPresence === false">Offline</span>                                                    
                    </figcaption>
                    <span class="tg-featuredicon"><em class="fa fa-bolt"></em></span>
                    <img alt="image description" ng-src="{{docInfo.profile_pic_url}}">                                  
                </figure>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">        
            <div>
            <h4 style="text-align:center">Dr. {{docInfo.firstname}} {{docInfo.lastname}}</h4>
             <h6 style="border-bottom: 1px solid rgba(0,0,0,0.3);  text-align:center">{{docInfo.specialty}}</h6>
            <hr/>
            <h6>Address: <span style="font-weight: 200; color:black">{{docInfo.work_place}}</span> | <span style="font-style:italic; color:black;font-size:12px">{{docInfo.address}}</span></h6>
            <h6>Availability: <span style="color:rgba(0,0,0,0.7); font-size: 12px">avalible at this time<span></h6>
            <h6>Experience: <span style="color:black">{{docInfo.experience + " years"}}</span></h6>
            <h6>Office hours</h6>       
            <ul>        
                <li ng-repeat = "i in docInfo.office_hour "><span>{{i.day}}</span>, <span>from {{i.from}}</span> <span>to {{i.to}}</span></li> 
            </ul>
            <p style="margin-top: 10px"><a ng-href= "{{docInfo.doctor_profile_url}}" style="color:rgba(0,0,0,0.6)">view doctor's detail</a></p>
           
            <div class="in-patient-com">
                <p style="font-size: 22px; font-weight: 100; margin-top: 50px">CONTACT DOC THROUGH:</p> 
                <button ng-click="videoRequest('Video Call',docInfo)" style="color:#fff"><i class="fa fa-video-camera" style="font-size:20px;color:#fff"> </i> &nbsp;VIDEO CALL</button>
                <button ng-click="audioRequest('Audio Call',docInfo)" style="color:#fff"><i class="fa fa-phone" style="font-size:20px;color:#fff"> </i> &nbsp;AUDIO CALL</button>                                 
                <button ng-click="chatRequest('Live Chat',docInfo)" style="color:#fff"><i class="fa fa-comment" style="font-size:20px;color:#fff"> </i> &nbsp;LIVE CHAT</button>
                <button ng-click="inPersonRequest('Meet In-Person',docInfo)" style="color:#fff"><i class="fa fa-user" style="font-size:20px;color:#fff"> </i> &nbsp;MEET IN-PERSON</button> 
                <button ng-click="joinDoc()">Join doc</button>

                <ul style='list-style:none'>
                        <li ng-repeat="u in message1">
                            <div ng-if="u.sent" ng-class="{'isYou' : u.sent}">
                                <p style="text-align:center"> &nbsp;{{u.time | date: "shortTime"}} &nbsp;{{u.time | date: "mediumDate"}}</p>   
                                <article style="text-align:right;background-color:#d2ed88" class="chat">
                                    <span>{{u.sent}}</span>
                                    <small style="font-size:9px;font-style:italic"> &nbsp;{{u.time | date: "shortTime"}}</small>    
                                </article>
                            </div>
                            <div ng-if="u.received" class="chatPallet">                                                         
                                <article class="chat">
                                    <span>{{u.received}}</span>
                                    <small style="font-size:9px;font-style:italic"> &nbsp;{{u.time | date: "shortTime"}}</small>    
                                </article>
                            </div>
                        </li>
                       
                    </ul>                               
                     
                <div>
                    <article style="color:#000;margin-left: 18px;margin-top:10px;color:#eee;font-style:italic" ng-if="typing" class="chat">{{typing}}</article>                            
                    <input type="text" placeholder="Write..." ng-model="user.text1">
                    <button ng-click="sendChat1()">Send</button>
                </div>
                   fa fa-check-circle-o       
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul class="contact-options">                       
                <li ng-click="inPersonRequest('Meet In-Person',docInfo)"><i class="fa fa-user"> </i> &nbsp;Meet IN-PERSON</li>            
                <li ng-click="audioRequest('Audio Call',docInfo)"><i class="fa fa-phone"> </i> &nbsp;Audio Call Request</li>
                <li ng-click="videoRequest('Video Call',docInfo)"><i class="fa fa-video-camera"> </i> &nbsp;Video Call Request</li>         
            </ul>
            <div class="chat-type"><i class="fa fa-comment"> </i> &nbsp;LIVE CHAT <span style="margin-left: 18px;margin-top:10px;color:#e47226;font-style:italic" ng-if="typing" class="chat">{{typing}}</span>
            <i class="fa fa-trash-o" aria-hidden="true" style="margin-left: 18px;color:#e47226;position:absolute;right:10px;top:10px" ng-click="deleteChat()" title="Delete chat"></i>
            </div>  
            <div class="chat-area">
                <div class="some-class">
                    <div class="chat-body" >
                        <ul style='list-style:none;margin-top: 40px'>
                            <li ng-repeat="u in message1">
                                <div ng-if="u.sent" ng-class="{'isYou' : u.sent}">
                                    <p style="text-align:center"> &nbsp;{{u.time | date: "shortTime"}} &nbsp;{{u.time | date: "mediumDate"}}</p>  
                                    <article style="text-align:right;background-color:#d2ed88" class="chat">
                                        <span>{{u.sent}}</span>
                                        <small style="font-size:9px;font-style:italic"> &nbsp;{{u.time | date: "shortTime"}}</small>
                                        <i class="fa fa-check" style="font-size:10px" ng-class="{'msg-received': u.isReceived === true}"></i>
                                        <i class="fa fa-check" style="font-size:10px;margin-left:-10px;margin-top:8px" ng-class="{'msg-received': u.isReceived === true}" ng-if="u.isSent === true"></i>    
                                    </article>
                                </div>
                                <div ng-if="u.received" class="chatPallet">                                                         
                                    <article class="chat">
                                        <span>{{u.received}}</span>
                                        <small style="font-size:9px;font-style:italic"> &nbsp;{{u.time | date: "shortTime"}}</small>    
                                    </article>                                               
                                </div>                                  
                            </li>
                            <li><article style="margin-left: 18px;margin-top:5px;color:rgba(0,0,0,0.4);font-style:italic;box-shadow: 0px 1px 2px rgba(0,0,0,0.5);background-color:#eee" ng-if="typing" class="chat">{{typing}}</article></li>
                                                      
                        </ul>                     
                    </div>
                    <div class="input-box-wrapper">
                        <form class="chat-form" ng-submit="sendChat1()">
                            <article style="color:#000;margin-left: 18px;margin-top:10px;color:#eee;font-style:italic" ng-if="typing" class="chat"></article>                          
                            <input type="text" placeholder="Type a message" ng-model="user.text1">
                            <input type="submit" value="Send"  class="btn btn-primary">

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>-->
</div>

