<div class="col-sm-12 col-md-12 col-lg-12">
	<p>Test result(s):</p>
	<ul>
		<li ng-repeat="i in test.test_to_run"><strong>{{i.name}}</strong> : {{i.data}}</li>
		<li><strong>Conclusion :</strong> {{test.conclusion}}</li>
	</ul>
	<form>
	<em style="font-size: 18px">{{test.files.length}} x-ray file(s) associated with this test result</em>	
	</form
	<p>The above test(s) will be send to:</p>
	<img ng-src="{{doctor.doctor_profile_pic_url}}" style="width: 100px; height:100px"> 
	<span> Dr. {{doctor.doctor_firstname}} {{doctor.doctor_lastname}} ({{doctor.doctor_specialty}})</span>
	<div>
		<button ng-click="noSend()">No, go back</button>&nbsp;&nbsp;&nbsp;
		<button ng-click="send()">Yes, send</button>
	</div>
</div>

