<div>
					<div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Personal Information</h4>
							</div>
							<div class="row">											
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="{{docInfo.firstname}}" ng-model="user.firstname">
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="{{docInfo.lastname}}" ng-model="user.lastname">
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="email" placeholder="{{docInfo.email}}" ng-model="user.email">
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder=" (+234) {{docInfo.phone}}" ng-model="user.phone">
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="{{docInfo.work_place || 'Place of work' }}" ng-model="user.work_place">
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="{{docInfo.address || 'Address'}}" ng-model="user.address">
									</div>
								</div>
								<!--<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="<%= person.skype %>" ng-model="user.skype">
									</div>
								</div>
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="url" placeholder="<%= person.website %>" ng-model="user.website">
									</div>
								</div>-->
								<div class="col-sm-12">
									<!--<div class="tg-addfield">
										<button type="submit">
											<i class="fa fa-plus"></i>
											<span>add field</span>
										</button>
									</div>-->
								</div>
							</div>
						</div>									
					</div>
					<div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Introductory Note*</h4>
							</div>
							<div class="row">											
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="form-group">
										<textArea style="width: 600px; height:300px" ng-model="user.introductory" placeholder="write..."></textArea>
									</div>												
								</div>											
							</div>
						</div>
					</div>
					<div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Years of experience</h4>
							</div>
							<div class="row">											
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="number" placeholder="{{docInfo.experience}}" ng-model="user.experience">
									</div>
								</div>											
							</div>
						</div>
					</div>								
					<div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Education</h4>
							</div>
							<div class="row">											
								<div class="col-md-8 col-sm-6 col-xs-12" ng-repeat="item in user.education">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Medical School Attended" ng-model="item.school">
									</div>
									<div class="form-group">
										<label>From</label>
										<input class="form-control" type="date" ng-model="item.start_year" style="width:200px">
										<label>to</label>
										<input class="form-control" type="date" ng-model="item.end_year" style="width:200px">
									</div>
									<div class="form-group" style="border-bottom: 2px dotted rgba(0,0,0,0.2)">
										<input class="form-control" type="text" placeholder="Certificate obtained" ng-model="item.certificate">
									</div>														
								</div>
								<div class="col-sm-12">												
									<div class="tg-addfield">
										<button type="submit" ng-click="removeNewField(user.education)" ng-if="edu" ng-cloak>														
											<span style="color:rgba(200,0,0,0.9);font-size:12px">remove last field</span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;							
										<button type="submit" ng-click="addNewField(user.education)">
											<i class="fa fa-plus"></i>
											<span>add field</span>
										</button>													
									</div>
								</div>
							</div>
						</div>
					</div>								
                    <div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Sub Speciality</h4>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<span class="select" ng-repeat="item in user.subSpecialty">
											<input type="text" class="form-control" id="group1" ng-model="item.sub_specialty">												
											
										</span>
									</div>
								</div>											
								<div class="col-sm-12">
									<div class="tg-addfield">
										<button type="submit" ng-click="removeNewField(user.subSpecialty)" ng-if="sp" ng-cloak>														
											<span style="color:rgba(200,0,0,0.9);font-size:12px">remove last field</span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;							
										<button type="submit" ng-click="addNewField(user.subSpecialty)">
											<i class="fa fa-plus"></i>
											<span>add field</span>
										</button>													
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Skills & Procedure</h4>
							</div>
							<div class="row">											
								<div class="col-md-8 col-sm-6 col-xs-12" ng-repeat = "item in user.procedure">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Disease name" ng-model="item.disease" style="margin-bottom: 10px">
										<input class="form-control" type="text" placeholder="Skill" ng-model="item.skill" style="margin-bottom: 10px">									
										<textarea class="form-control" type="text" placeholder="Briefly Describe your approach" ng-model="item.procedure_description" style="margin-bottom: 10px"></textarea>												
										<input type="file">
										<button ng-click="upload()" style="background-color:rgba(0,200,0,0.8); padding:10px 105px; color:#fff;border-radius:5px;margin:10px auto">add Photo/Video</button>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="tg-addfield">
										<button type="submit" ng-click="removeNewField(user.procedure)" ng-if="pro" ng-cloak>														
											<span style="color:rgba(200,0,0,0.9);font-size:12px">remove last field</span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;							
										<button type="submit" ng-click="addNewField(user.procedure)">
											<i class="fa fa-plus"></i>
											<span>add field</span>
										</button>						
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>Honors & Awards</h4>
							</div>
							<div class="row">
							<div ng-repeat="item in user.award">
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Name of award" ng-model="item.type_of_award">
										<!--<span class="select">
											<select class="group" id="group1" ng-model="item.type_of_award">
												<option>All</option>
												<option>good one</option>
												<option>Doctor two</option>
												<option>Doctor three</option>
											</select>
										</span>-->
									</div>
								</div>
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Description" ng-model="item.description">
									</div>
								</div>
								</div>
								<div class="col-sm-12">
									<div class="tg-addfield">
										<button type="submit" ng-click="removeNewField(user.award)" ng-if="ha" ng-cloak>														
											<span style="color:rgba(200,0,0,0.9);font-size:12px">remove last field</span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;							
										<button type="submit" ng-click="addNewField(user.award)">
											<i class="fa fa-plus"></i>
											<span>add field</span>
										</button>						
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tg-bordertop tg-haslayout">
						<div class="tg-formsection">
							<div class="tg-heading-border tg-small">
								<h4>OFFice HOURS</h4>
							</div>
							<div class="row">
							<div ng-repeat="item in user.office">
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<span class="select">
											<select class="group" id="group1" ng-model="item.day">
												<option>Monday</option>
												<option>Tuesday</option>
												<option>Wednesday</option>
												<option>Thursday</option>
												<option>Friday</option>
												<option>Saturday</option>
												<option>Sunday</option>
											</select>
										</span>
									</div>
								</div>
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="form-group">
										<label for = "from">From</label>
										<input class="form-control" type="text" name= "from" placeholder="what time?" ng-model="item.from">
										<label for = "to">to</label>
										<input class="form-control" type="text" name="to" placeholder="what time?" ng-model="item.to">
									</div>
								</div>
								</div>
								<div class="col-sm-12">
									<div class="tg-addfield">
										<button type="submit" ng-click="removeNewField(user.office)" ng-if="of" ng-cloak>														
										<span style="color:rgba(200,0,0,0.9);font-size:12px">remove last field</span>
										</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;							
										<button type="submit" ng-click="addNewField(user.office)">
											<i class="fa fa-plus"></i>
											<span>add field</span>
										</button>						
									</div>
								</div>
							</div>
						</div>
					</div>								
					<button type="submit" class="tg-btn" ng-click="update()">update</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<aside id="tg-sidebar"  ng-controller="pictureController">				
				<div class="tg-otherphotos">
									<div class="tg-heading-border tg-small">
										<h5><a href="#">Procedural Photos</a></h5>
									</div>												
									<div id="tg-photoscroll" class="tg-photoscroll">
										<div class="form-group">
											<ul class="tg-otherimg">
												<li>
													<figure>
														<a href="#"><img src="/assets/images/dashboard/img-04.jpg" alt="image description"></a>
														<div class="tg-img-hover">
															<i class="fa fa-plus"></i>
														</div>
													</figure>
												</li>
												<li>
													<figure>
														<a href="#"><img src="/assets/images/dashboard/img-05.jpg" alt="image description"></a>
														<div class="tg-img-hover">
															<i class="fa fa-plus"></i>
														</div>
													</figure>
												</li>
												<li>
													<figure>
														<a href="#"><img src="/assets/images/dashboard/img-06.jpg" alt="image description"></a>
														<div class="tg-img-hover">
															<i class="fa fa-plus"></i>
														</div>
													</figure>
												</li>												
												
											</ul>
										</div>
									</div>
				</div>
				<!--<div class="tg-widget tg-widget-accordions">
					<input type="file" name="file" id="file" class="inputfile" ng-model = "user.profilepic"/>
					<label for="file">Dashboard</label>
					<ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<li class="panel panel-default active">
							<div class="tg-panel-heading" role="tab" id="headingOne">
								<h3 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Insights</a>
								</h3>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<p>Dynamic content</p>
								</div>
							</div>
						</li>
						<li class="panel panel-default">
							<div class="tg-panel-heading" role="tab" id="headingTwo">
								<h3 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Profile</a>
								</h3>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<p>Dynamic content</p>
								</div>
							</div>
						</li>
						<li class="panel panel-default">
							<div class="tg-panel-heading" role="tab" id="headingThree">
								<h3 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Schedule</a>
								</h3>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<p>Dynamic content</p>
								</div>
							</div>
						</li>
						<li class="panel panel-default">
							<div class="tg-panel-heading" role="tab" id="headingFour">
								<h3 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">My Account</a>
								</h3>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body">
									<p>Dynamic content.</p>
								</div>
							</div>
						</li>
						<li class="panel panel-default">
							<h3 class="panel-title"><a href="/user/logout">Signout</a></h3>
						</li>
					</ul>
				</div>-->
			</aside>
		</div>
	</div>
</div>			