<div class="tg-widget tg-widget-doctor" ng-controller="patientProfileEditController" class="container-fluid" >
    <h5 style="border-bottom: 1px solid rgba(0,0,0,0.3); width: 35%">Edit Profile Picture </h5>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">          
            <img alt="image description" ng-src="{{userData.profile_pic_url}}" style="width: 200px;height: 200px">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">  
           <h5 style="font-weight: 100">Tips:</h5>
           <ul style="margin-bottom: 10px">
                <li>
                    File size must be less than 2mb.
                </li>
                <li>
                    Picture must be a portrait
                </li>
                <li>
                    File extension accepted are png and jpeg.
                </li>
           </ul>
           <div>
               <input type="file" name="file" id="file" file-model = "user.profilepic"/>
                <button ng-click="update('patient')" style="background-color:rgba(0,200,0,0.8); padding:10px 105px; color:#fff;border-radius:5px;margin:10px auto">Upload</button>
           </div>

        </div>
    </div>
    <div class="row">        
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h5 style="font-weight: 100;padding: 10px 5px; margin-top: 30px;width: 30%;border-bottom: 1px solid rgba(0,0,0,0.3)"> Edit personal details </h5>
            <form class="patient-update-input">
                <div>
                    <input type="text" placeholder="{{userData.firstname || 'Whats your firstname'}}" ng-model="user.firstname"/>
                    <input type="text" placeholder="{{userData.lastname || 'Whats your lastname'}}" ng-model="user.lastname"/>
                    <input type="number" placeholder="{{userData.age || 'How old are you?'}}" ng-model="user.age"/>
                    <input type="text" placeholder="{{userData.gender || 'what is your gender?'}}" ng-model="user.gender"/>
                    <input type="text" placeholder="{{userData.marital_status || 'Are you single or married?'}}" ng-model="user.marital_status"/>
                    <input type="text" placeholder="{{userData.address || 'Enter your address here'}}" ng-model="user.address"/>
                    <input type="text" placeholder="{{userData.state || 'What is your state name?'}}" ng-model="user.state"/>
                    <input type="text" placeholder="{{userData.city || 'Enter city/town name'}}" ng-model="user.city"/>
                    <input type="text" placeholder="{{userData.country || 'what is the name of your country?'}}" ng-model="user.country"/>
                </div>                
                <button ng-click="updateDetails()">Update</button>
            </form>
        </div>
    </div>
                             
</div>
