<!--<div>
	<h6>Selected Test</h6>
	<ol>
		<li ng-repeat = "i in labTest">{{i.name}} &nbsp;&nbsp;&nbsp;&nbsp; {{i.price | currency }} &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-times" style="cursor: pointer" ng-click="del(i.sn)"></i></li>
		<li style="list-style: none"><strong>TOTAL: </strong>{{cost}}</li>
	</ol>
	<button ng-click="sendToScan()">Send test to a lab</button>
</div>-->

<div class="container">
    <div class="card p-2">
	<div class="font-1_7">Selected Test</div>
    <hr>
	<ol>
		<li ng-repeat = "i in labTest">{{i.name}} &nbsp;&nbsp;&nbsp;&nbsp; {{i.price | currency }} &nbsp;&nbsp;&nbsp;&nbsp;<i class="btn btn-simple fa fa-times" style="cursor: pointer" ng-click="del(i.sn)"></i></li>
		<li style="list-style: none"><strong>TOTAL: </strong>{{cost}}</li>
	</ol>
	<button class="btn btn-info" ng-click="sendToScan()">Send test</button>
</div>
</div>

